.memory-card {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  background-size: cover;
}
.banana {
  background-image: url("../../images/banana.jpg");
}
.cat {
  background-image: url("../../images/cat.jpg");
}
.chicken {
  background-image: url("../../images/chicken.jpg");
}
.coffee {
  background-image: url("../../images/coffee.jpg");
}
.eiffel {
  background-image: url("../../images/eiffel.jpg");
}
.stockholm {
  background-image: url("../../images/stockholm.jpg");
}
.swan {
  background-image: url("../../images/swan.jpg");
}
.tomato {
  background-image: url("../../images/tomato.jpg");
}
