.memory-card-scene {
  perspective: 600px;
}
.memory-card-container {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flipped {
  transform: rotateY(180deg);
}
.memory-card {
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari */
}
.back {
  background-color: rgb(241, 159, 173);
  background-image: radial-gradient(white 15%, transparent 16%),
    radial-gradient(white 15%, transparent 16%);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
.front {
  transform: rotateY(180deg);
}
.image {
  background-size: cover;
}
.banana {
  background-image: url("../../images/banana.jpg");
}
.cat {
  background-image: url("../../images/cat.jpg");
}
.chicken {
  background-image: url("../../images/chicken.jpg");
}
.coffee {
  background-image: url("../../images/coffee.jpg");
}
.eiffel {
  background-image: url("../../images/eiffel.jpg");
}
.stockholm {
  background-image: url("../../images/stockholm.jpg");
}
.swan {
  background-image: url("../../images/swan.jpg");
}
.tomato {
  background-image: url("../../images/tomato.jpg");
}
