.preload-banana {
  background: url("../../images/banana.jpg") no-repeat -9999px -9999px;
}
.preload-swan {
  background: url("../../images/swan.jpg") no-repeat -9999px -9999px;
}
.preload-coffee {
  background: url("../../images/coffee.jpg") no-repeat -9999px -9999px;
}
.preload-chicken {
  background: url("../../images/chicken.jpg") no-repeat -9999px -9999px;
}
.preload-eiffel {
  background: url("../../images/eiffel.jpg") no-repeat -9999px -9999px;
}
.preload-stockholm {
  background: url("../../images/stockholm.jpg") no-repeat -9999px -9999px;
}
.preload-tomato {
  background: url("../../images/tomato.jpg") no-repeat -9999px -9999px;
}
.preload-cat {
  background: url("../../images/cat.jpg") no-repeat -9999px -9999px;
}
