body {
  background: url("./images/pexels-milo-textures-2768398.jpg") no-repeat center
    center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
